body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #000000; 
    text-transform: uppercase;
    background-color: #f2f2f2;
}

html {
	box-sizing: border-box; 
}

*, 
*::before,
 *::after { 
 	box-sizing: inherit; 
 }

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0,1,1,0.2);
}

/*кнопки*/
.button {
    font: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #669ec0;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.button-brown {
    background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
    background-color: #604e43;
}

.button-brown:active {
    background-color: #503e33;
}

/*шапка*/
.main-header {
    position: relative;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:flex-start;
    margin: 0;
    padding: 15px 72px;
    list-style: none;
    line-height: 26px;
    font-weight: bold;
    background-color: #ffffff;
}

.site-navigation-item {
    width: 25%;
}

.site-navigation-item:nth-child(1),
.site-navigation-item:nth-child(2) {
    text-align: left;
}

.site-navigation-item:nth-child(3),
.site-navigation-item:nth-child(4) {
    text-align: right;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 138px;
    height: 70px;
}


.site-navigation-link {
    color: #000000; 
}

.site-navigation-link:hover,
.site-navigation-link:focus {
    color: #81b3d2;
}

.site-navigation-link:active {
    color: rgba(0, 0, 0, 0.3);
}

/*интро*/
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 508px;
    
    background-color: #dad7db;
    background-image: url("../img/shape.png"), url("../img/background-photo.jpg");
    background-position: 0 451px, 0 -85px;
    background-repeat: no-repeat;
}

.intro-image {
    width: 458px;
    height: 352px;
}

.intro-title {
    margin-top: 60px;
    margin-bottom: 27px;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

/*преимущества*/
.features {
    width: 1200px;
}

.features-title {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font: inherit;
    line-height: 26px;
    color: #333333;
    text-align: center;
}

.features-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.features-item {
    width: 400px;
    margin: 0;
    padding: 0;
    padding-top: 47px;
    padding-bottom: 59px;
    text-align: center;
}

.features-item-blue {
    background-color: #81b3d2;
} 

.features-item-white {
    background-color: #ffffff;
} 

.features-item-grey {
    background-color: #eeeeee;
}

.features-item-white {
    padding-top: 161px;
    padding-bottom: 82px;
}

.features-item-title {
    position: relative;
    margin: 0;
    padding: 0 120px; 
    margin-bottom: 24px;
    font-size: 21px;
    font-weight: bold;
}

.features-item-blue .features-item-title {
    color: #ffffff;
}

.features-item-white:nth-child(1) .features-item-title::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 72px;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-item-white:nth-child(2) .features-item-title::before {
    content: "";
    position: absolute;
    top: -102px;
    left: 50%;
    transform: translateX(-50%);
    width: 74px;
    height: 70px;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-item-white:nth-child(3) .features-item-title::before {
    content: "";
    position: absolute;
    top: -102px;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 76px;
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-item-number {
    margin: 0;
    margin-bottom: 21px;
    padding: 0;
}
.features-item-blue .features-item-number {
    color: #ffffff;
}

.features-item-text {
    margin: 0;
    padding: 0 50px;
    color: #333333;
}

.features-item-blue .features-item-text {
    color: #ffffff;
}

.features-item-grey .features-item-text {
    padding: 0 60px;
} 

.features-item-grey .features-item-text-morepadding {
    padding: 0 71px;
}

.features-item-blue .features-item-text-lesspadding {
    padding: 0 40px;
}

.features-item-image img {
    display: block;
}

/*поиск*/
.search-question {
    margin: 0;
    padding: 0; 
    padding-top: 50px;
    padding-bottom: 24px;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
}

.search-text {
    margin: 0;
    padding: 0 402px; 
    padding-bottom: 48px;
    line-height: 24px;
    text-align: center;
    color: #333333;
}

.button-search {
    display: block;
    
    
/*
    width: 568px;
    height: 86px;
*/
    padding: 0;
    margin: 0 auto;
    padding: 30px 140px;
}

/*модальное окно*/
.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-item {
/*
    display: flex;
    justify-content: space-between;
*/
    display: block;
    vertical-align: middle;
    width: 458px;
    padding: 0;
    margin: 0;
    margin-bottom: 33px;
    
    line-height: 26px;
    
/*
    background: rgba(0, 128, 0, 0.2);
    box-shadow: 0 0 0 3px green;
*/
}
.search-item:nth-child(2) {
    margin-bottom: 42px;
}
.search-item-adult {
    width: 226px;
}

.search-item-child {
    width: 179px;
}

.search-item-calendar {
    position: absolute;
    left: 478px;
}

.button-find {
    width: 458px;
    height: 58px;
}

.search-form-label {
    font-weight: bold; 
    color: #000000;
    text-align: left;
}

.search-form-input {
    box-sizing: border-box;
    width: 346px;
    padding-top: 14px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
    
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
}
.search-item-adult .search-form-input,
.search-item-child .search-form-input {
    width: 38px;
    height: 38px;
}

.search-form-input:hover {
    background-color: #ebebeb;
}

.search-form-input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
} 

.search-modal {
    position: absolute;
    display: block;
    width: 568px;
    height: 395px;
    margin: 0 316px;
    padding: 55px;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    background-color: #ffffff;
}

/*футер*/
.main-footer {
    display: flex;
    margin: 0;
    padding: 46px 0px 11px 0px;
}

.main-footer-index {
    position: relative;
    z-index: 5;
    margin-top: -126px;
    background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
    width: 400px;
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.footer-social {
    width: 400px;
    margin: 0;
    text-align: center;
}

.footer-social-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-button {
    color: #ffffff;
    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.footer-copyright {
    width: 400px;
    margin: 0;
    padding: 0;
    line-height: 26px;
    text-align: center;
}

.footer-copyright-text {
    font-weight: normal;
}

/*страница подбора гостиницы*/
.navigation-current-link {
    color: #766357;
}

.navigation-current-link:hover,
.navigation-current-link:focus,
.navigation-current-link:active {
    color: #766357;
}

/*фильтр*/
.filters {
    color: #ffffff;
    background-color: #81b3d2;
    background-image: url("../img/filter-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.filter {
    display: flex;
    width: 100%;
    padding: 27px 72px 32px 72px;
}

.filter-column {
    margin: 0;
    padding: 0;
    border: none;
}  

.filter-column:nth-child(1) {
    margin-right: 118px;   
}

.filter-column:nth-child(3) {
    margin-left: auto;
}

.filter-legend {
    padding-bottom: 25px;
    font-size: 16px;
    font-weight: bold;
}

.filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-option {
    margin-bottom: 25px;
}

.filter-option:last-child {
    margin-bottom: 0;
}

.button-filter {
    width: 133px;
    height: 36px;
    font: inherit;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    border: 2px solid #ffffff;
}

.button-filter:hover, 
.button-filter:focus {
    color: #000000;
    background-color: #ffffff;
}

/*сортировка*/
.sorting {
    display: flex;
    width: 100%;
    padding: 28px 72px 32px 72px;
    border-bottom: 1px solid #e5e5e5; 
}

.sorting-amt {
    width: 138px;
    margin: 0;
    padding: 0;
    margin-right: 48px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sorting-list {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    line-height: 18px;
}

.sorting-item-text,
.sorting-item {
    margin: 0;
    padding: 0;
}

.sorting-item-text { 
    margin-right: 40px;
}

.sorting-item:nth-child(2) {
    margin-right: 32px;
}

.sorting-item:nth-child(3) {
    margin-right: 32px;
}

.sorting-item-up {
    margin-left: auto;
}

.sorting-item-link {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.sorting-item-link:hover,
.sorting-item-link:focus {
    color: #81b3d2;
}

.sorting-item-link:active {
    color: #000000;
    border-bottom: none;
}

.sorting-current-link {
    color: #81b3d2;
    border-bottom: none;
}

.sorting-current-link:hover,
.sorting-current-link:focus,
.sorting-current-link:active {
    color: #81b3d2;
}


.sorting-up-link,
.sorting-down-link {
    color: #cacaca;
}

.sorting-up-link:hover,
.sorting-down-link:hover,
.sorting-up-link:focus,
.sorting-down-link:focus {
    color: #000000;
}

.sorting-up-link:active,
.sorting-down-link:active,
.sorting-item-down .sorting-current-link {
    color: #81b3d2;
}

/*результат поиска*/
.search-result-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.search-result-item {
    display: flex;
    width: 100%;
    padding: 30px 72px;
    border-bottom: 1px solid #e5e5e5;
}

.result-item-foto {
    margin: 0;
    padding: 0;
    padding-right: 32px;
}

.result-item-foto-img {
    display: block;
}

.result-item-title {
    margin: 0;
    padding: 0;
}
.result-item-title-link {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}

.result-item-title:hover,
.result-item-title:focus {
    color: #81b3d2;
}

.result-item-title:active {
    color: rgba(0, 0, 0, 0.3);
}

.button-more-info,
.button-booking {
    font-size: 14px;
    line-height: 21px;
}

.result-item-rating {
    margin-left: auto;
}
