body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #000000; 
    text-transform: uppercase;
    background-color: #f2f2f2;
    width: 1280px;
}

html {
	box-sizing: border-box; 
}

*, 
*::before,
 *::after { 
 	box-sizing: inherit; 
 }

.main-container {
    width: 1200px;
    margin: 0 40px;
    padding: 0;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

/*кнопки*/
.button {
    font: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #669ec0;
}

.button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.button-brown {
    background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
    background-color: #604e43;
}

.button-brown:active {
    background-color: #503e33;
}

/*навигация*/
.site-navigation {
    line-height: 26px;
    font-weight: bold;
    background-color: #ffffff;
    list-style: none;
}

.site-navigation-link {
    color: #000000; 
}

.site-navigation-link:hover,
.site-navigation-link:focus {
    color: #81b3d2;
}

.site-navigation-link:active {
    color: rgba(0, 0, 0, 0.3);
}

/*интро*/
.intro {
    height: 508px;
    background-color: #dad7db;
    background-image: url("../img/shape.png"), url("../img/background-photo.jpg");
    background-position: 0 451px, 0 -85px;
    background-repeat: no-repeat;
}

.intro-image {
    width: 458px;
    height: 352px;
}

.intro-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 28px;
    text-align: center;
}

/*преимущества*/
.features-title {
    font: inherit;
    line-height: 26px;
    color: #333333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.features-list {
    list-style: none;
}

.features-item-title {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

.features-item-blue .features-item-title {
    color: #ffffff;
}

.features-item-text {
    color: #333333;
    text-align: center;
}

.features-item-blue .features-item-text {
    color: #ffffff;
}

.features-item-blue {
    background-color: #81b3d2;
} 

.features-item-white {
    background-color: #ffffff;
} 

.features-item-grey {
    background-color: #eeeeee;
}

/*поиск*/
.search-question {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
}

.search-text {
    line-height: 24px;
    text-align: center;
    color: #333333;
}

.search-form-label {
    font-weight: bold; 
    color: #000000;
    text-align: left;
}

.search-form-input {
    background-color: #f2f2f2;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
}

.search-form-input:hover {
    background-color: #ebebeb;
}

.search-form-input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
} 

/*футер*/
.main-footer-index {
    background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: left;
}

.footer-social {
    text-align: center;
}

.footer-social-list {
    list-style: none;
}

.social-button {
    color: #ffffff;
    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3)
}

.footer-copyright {
    line-height: 26px;
    text-align: right;
}

/*страница подбора гостиницы*/
.navigation-current-link {
    color: #766357;
}

.navigation-current-link:hover,
.navigation-current-link:focus,
.navigation-current-link:active {
  color: #766357;
}

/*фильтр*/
.filters {
    color: #ffffff;
    background-color: #81b3d2;
    background-image: url("../img/filter-background.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
}

.filters .filter-column {
    border: none;
}

.filter-list {
    list-style: none;
}

.filter-legend {
    font-size: 16px;
    font-weight: bold;
}

.button-filter {
    font: inherit;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: 2px solid #ffffff;;
}

.button-filter:hover, 
.button-filter:focus {
    color: #000000;
    background-color: #ffffff;
}

/*сортировка*/
.sorting-amt {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sorting-list {
    list-style: none;
    font-size: 12px;
    line-height: 18px;
}

.sorting-item-link {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.sorting-item-link:hover,
.sorting-item-link:focus {
    color: #81b3d2;
}

.sorting-item-link:active {
    color: #000000;
    border-bottom: none;
}

.sorting-current-link {
    color: #81b3d2;
    border-bottom: none;
}

.sorting-current-link:hover,
.sorting-current-link:focus,
.sorting-current-link:active {
  color: #81b3d2;
}


.sorting-up-link,
.sorting-down-link {
    color: #cacaca;
}

.sorting-up-link:hover,
.sorting-down-link:hover,
.sorting-up-link:focus,
.sorting-down-link:focus {
    color: #000000;
}

.sorting-up-link:active,
.sorting-down-link:active,
.sorting-item-down .sorting-current-link {
    color: #81b3d2;
}

/*результат поиска*/
.search-result-list {
    list-style: none;
}

.result-item-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}

.result-item-title:hover,
.result-item-title:focus {
    color: #81b3d2;
}

.result-item-title:active {
    color: rgba(0, 0, 0, 0.3);
}


.button-more-info,
.button-booking {
    font-size: 14px;
    line-height: 21px;
}




/* Сеточные стили*/

.main-header {
    min-height: 56px;
    width: 100%;
}

.site-navigation {
    margin: 0;
    padding-top: 15px;
    padding-left: 71px;
    padding-right: 71px;
    display: flex;
    justify-content:flex-start;
    min-height: 56px;
}

.site-navigation-link {
/*    display: block;*/
}

.site-navigation li:nth-of-type(1) {
    margin-right: 148px; 
}

.site-navigation li:nth-of-type(2) {
    margin-right: 387px; 
}
.site-navigation li:nth-of-type(3) {
    margin-right: 166px; 
}

.main-header-logo {
    width: 138;
    height: 70px;
	position: absolute;
    top: 0;
    left: 571px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1200px;
    display: flex;
    min-height: 1170px;
    flex-direction: column;
}

.features-title {
    min-height: 77px;
}

.features-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.features-item {
    width: 400px;
    height: 256px;
    padding-top: 46px;
    padding-bottom: 65px;
}

.features-item-white {
    width: 400px;
    min-height: 332px;
    align-items: flex-end;
}

.features-item-title {
    margin: 0;
    padding: 0; 
    margin-bottom: 11px;
}

.features-item-text {
    margin-bottom: 11px;
}


